<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<table style="width:100%">
  <tr>
    <td>User</td>
    <td>Timestamp</td>
    <td>Since last build</td>
    <td>Total time</td>
  </tr>

   <tr>
        <th> {{ metric.username }} </th>
       <td> <small> {{ metric.timestamp_formatted}}</small> </td>
       <td> <small>{{ metric.time_diff }} </small></td>
       <td> {{ metric.scores['total time'] }}ms </td>
       <td>

       </td>
   </tr>
</table>
<br>
<p>
    Tasks:<br>
   {% for task in metric.top_tasks %}
   {{ task[1] }}ms&nbsp;{{ task[0] }} <br>
   {% endfor %}
</p>
Git status for current metric:
<pre>
    {{ metric.gitstatus }}
</pre>
<p>
    List of files changed since last compilation:<br><br>
    {% for filename in metric.diff_sorted %}
           {{ filename }} <br>
    {% endfor %}
</p>
{% endblock %}